<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net452" />
  <package id="AWSSDK.Core" version="3.3.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SimpleValidator" version="0.5.1.0" targetFramework="net452" />
</packages>